body {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

body h2 {
    margin: 18px 10px 10px 10px;
    padding: 5px 5px 5px 10px;
    background-color: darkgrey;
}

h2 table {
    width: 100%;
}

.content {
    display: flex;
}

.content th {
    font-size: 14pt;
}

.shopping_list {
    display: flex;
    max-width: max-content;
    background-color: red;
    padding: 5px;
    margin: 0 10px 10px 0;
}

.shopping_list table {
    flex: 1;
}

.food_plan {
    min-width: max-content;
    margin: 0 10px 10px 10px;
    background-color: green;
    padding: 5px;
}

.buttons {
    z-index: 1;
    position: relative;
    max-width: 0;
    right: 70px;
}

.ontop_screen {
    display: none;
    position: fixed;
    z-index: 10;
    top: 15%;
    left: 30%;
    background-color: white;
    justify-content: center;
    border-radius: 10px;
    border: solid 1px black;
    padding: 10px;
}

#cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.80;
    background: #aaa;
    display: none;
}

td#no_item {
    text-align: center;
}

td#header_buttons {
    text-align: right;
    padding-right: 10px;
}

#header_buttons button,
button.food_plan_buttons,
#calc_button {
    vertical-align: middle;
    padding: 5px 10px 5px 10px;
}

td.shopping_list_item_name {
    padding-left: 10px;
}

td.food_plan_buttons {
    text-align: right;
    padding-right: 5px;
}


tbody.header {
    text-align: center;
}

th.shopping_list_header {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 12pt;
}
