/* COMMON */
/* Body */

/*OK*/
body {
    background-color: #e1e1e1;
    font-family: \'Consolas\', \'Deja Vu Sans Mono\', \'Bitstream Vera Sans Mono\', monospace;
    margin: 10px;
}

/* Headings */

/*OK*/
h2 {
    background-color: #315B38;
    border-radius: 15px;
    padding: 5px 5px 5px 15px;
    color: #DEFFE4;
}

/* Print special rules */

@media print {

    h2.header,
    h3#print_instruction {
        display: none;
    }

    div.shopping_list_table {
        break-inside: avoid;
        page-break-after: auto;
        border: none !important;
        padding-left: 3mm !important;
        margin-bottom: 5mm !important;
        float: left;
  }
}

/* Div */

div.invisible {
    color: transparent;
}

div.shopping_list_content {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    column-gap: 2mm;
}

div.shopping_list_table {
    border: #1e1e1e solid 1px;
    margin-bottom: 10px;
    padding: 5mm;
    width: fit-content;
}

div#edit_locations, div#edit_sections {
    background: #e1e1e1;
    border: solid black;
    min-height: 10em;
    min-width: 100%;
}

/* Screens */

.ontop_screen {
    background-color: #FFF;
    border: solid 1px #000;
    border-radius: 10px;
    display: none;
    justify-content: center;
    left: 30%;
    padding: 10px;
    position: fixed;
    top: 15%;
    z-index: 10;

    div.scroll {
        max-height: 60vh;
        padding-bottom: 10px;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        white-space: nowrap;
    }
}

#cover {
    background: #aaa;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0.80;
    position: fixed;
    right: 0;
    top: 0;
}

#base {
    display: grid;
    grid-template-areas:
        "main_screen"
        "footer"
    ;

}

#footer {
    grid-area: footer;
    padding-top: 10px;
}

#ingredient_screen #ingredient_form {
    td:nth-child(odd) {
        padding-right: 5px;
        text-align: right;
    }

    #ingredient_name {
        width: 96%;
    }

    #location {
        width: 100%
    }
}

#ingredients_screen {
    max-height: 80vh;
    top: 10%;
}

#main_screen {
    display: grid;
    grid-area: main_screen;
    grid-template-areas:
        "main_screen_header     main_screen_header"
        "main_screen_content    main_screen_content"
        "main_screen_footer     main_screen_footer"
    ;
    margin: 10px;

    & h2.header {
        align-items: center;
        display: grid;
        grid-area: main_screen_header;
        grid-template-areas:
            "header_text header_buttons"
        ;
        margin-top: 0;
        padding-right: 20px;

        & .text {
            grid-area: header_text;
            justify-content: start;
            height: 30px;
        }

        & .buttons {
            grid-area: header_buttons;
            justify-self: end;
        }
    }
    & .content {
        display: grid;
        gap: 20px;
        grid-template-areas:
            "main_screen_food_plan  main_screen_shopping_lists";
        justify-self: start;

        & .food_plan {
            background-color: #7bb876;
            border-radius: 15px;
            display: inline-grid;
            grid-template-columns: 80px 1fr;
            grid-template-rows: 50px auto auto;
            grid-area: main_screen_food_plan;
            justify-self: start;
            min-width: max-content;
            padding: 10px;

            tr {
                line-height: 24px;
            }

            & .title {
                display: grid;
                grid-column: 1 / 3;
                grid-row-start: 1;
                justify-content: center;
            }

            & .header {
                align-self: start;
                display: grid;
                grid-column: 2 / 3;
                grid-row-start: 2;
                grid-template-areas:
                    "recipe_elements control_buttons";
                /*justify-self: start;*/
                margin-top: 10px;
                z-index: 10;

                & .recipe_elements {
                    align-content: start;

                    & #recipesFilter.menu_buttons {
                        margin-left: 50px;
                    }

                    & #recipesFilterResetButton {
                        margin-right: 50px;
                        margin-left: -6px;
                    }
                }

                & .control_buttons {
                    align-self: center;
                    grid-column: 3 / 1;
                    grid-area: control_buttons;
                    justify-self: end;
                    margin-left: 50px;
                    margin-right: 10px;
                }
            }

            & table.recipesTable {
                border-spacing: 0;
                border-radius: 15px;
                grid-column: 1 / 3;
                grid-row: 2 / 2;
                margin: 0 10px 10px;

               & tr#placeholder .checkbox {
                   width: 25px;
               }

                & tr.recipe_selection td.recipe_name {
                    padding-left: 10px;
                }

                tr:nth-child(even) {
                    background: #9ddb99;
                }

                & tr.week_header,
                  tr:nth-child(odd) {
                    background: #7bb876;
                }
            }
        }

        & .all_shopping_lists {
            display: grid;
            grid-area: main_screen_shopping_lists;
            grid-template-areas:
                "all_shopping_lists_title"
                "all_shopping_lists_header"
                "all_shopping_lists_table"
            ;
            background-color: #bfbfbfff;
            border-radius: 15px;
            padding: 10px;
            width: 100%;
            max-width: max-content;

            & .title {
                display: grid;
                justify-content: center;
                grid-area: all_shopping_lists_title;
            }

            & .header {
                display: grid;
                justify-content: left;
                grid-area: all_shopping_lists_header;
                margin: 0 10px 10px 10px;
            }

            & .all_shopping_lists_table {
                border-spacing: 0;
                display: grid;
                grid-area: all_shopping_lists_table;
                justify-items: start;
            }
        }
    }

        div#shopping_lists {
            display: inline-block;
            width: 210mm;
        }
    }

#shopping_list_screen {
    color: #1e1e1e;
    overflow: hidden;
    top: 10%;

    td.location_header {
        font-size: 14pt;
        text-transform: uppercase;
        padding-bottom: 5px;
        padding-top: 10px;
        text-align: center;
    }
    td.ingredient {
        font-size: 12pt;
        padding-left: 20px;
    }
    td.section_header {
        font-size: 14pt;
        font-weight: bold;
    }
}

#print_preview_screen {
    margin: 10px;

    h2.header {
        align-items: center;
        /*display: grid;*/
        /*grid-area: main_screen_header;*/
        /*grid-template-areas:*/
        /*    "header_text header_buttons"*/
        /*;*/
        margin-top: 0;
        padding-right: 20px;
        height: 30px;
    }
}

/* Forms */

th.menu_buttons form {
    text-align: left;
}

/* Tables */

h2 table {
    width: 100%;
}

table.noselect {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

table.selection {
    min-width: 100%;
    padding: 5px;
}

table#shopping_list {

}

table#shopping_list_parameters {
    min-width: 100%;
}

table#edit_locations {
    vertical-align: top;
}

/* Table parts */

.column_spacer {
    width: 10px;
}

td.fld_amount {
    min-width: 50px;
    padding-right: 8px;
    text-align: right;
}

td.header_buttons, td.menu_buttons input.menu_buttons {
    padding-right: 10px;
    text-align: right;
}

td.header_text {
    text-align: center;
}

td.shopping_list_item_name {
    padding-left: 10px;
}

td.show_sections {
    float: right;
}

td.spacer {
    min-width: 30px;
}

th.list_header {
    font-size: 14pt;
    text-decoration: underline;
    line-height: 35px;
}

th.menu_buttons {
    line-height: 32px;
    display: table;
}

th.shopping_list_location_name {
    padding-bottom: 5px;
    text-align: left;
}

th.shopping_list_header {
    color: #1e1e1e;
    font-size: 12pt;
    padding-bottom: 5px;
    padding-top: 10px;
    text-transform: uppercase;
    text-align: left;
}

th.shopping_list_section_name {
    color: dimgrey;
    display: block;
    font-style: italic;
    font-weight: normal;
    padding-bottom: 5px;
    text-align: left;
    width: 100%;
}

tr.shopping_list_item {
    display: block;
    font-style: normal;
    font-weight: normal;
    padding-left: 15px;
    text-decoration: none;
}

tr.shopping_list_section {
    font-style: italic;
    text-decoration: none;
}

/* Buttons */

/*.buttons {*/
/*    max-width: 0;*/
/*    position: relative;*/
/*    right: 70px;*/
/*    z-index: 1;*/
/*}*/

button.header_button,
button.menu_buttons,
input.menu_buttons,
input.submit_button,
#calc_button,
#print_shopping_list_button {
    padding: 5px 10px;
    vertical-align: middle;
    border: 1pt solid black;
    border-radius: 5px;
}

button[type="submit"],
input[type="submit"] {
    background-color: #aae0ff;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
    background-color: #76cdff;
}

input.quantity {
    min-width: 70px;
    width: fit-content;
}

input#recipe_name {
    box-sizing: border-box;
    width: 100%;
}

#add_ingredient_button {
    float: right;
    margin-top: 5px;
    margin-right: 3px;
}

#recipe_screen_close_buttons {
    margin-top: 20px;
    text-align: center;
}

/* Special: Food plan */

#recipeTableHeader.header tr th.header_text,
#recipeTableBody.recipes tr td.checkbox {
    width: 21px;
}

#showAddRecipeScreen {
    margin-right: 5px;
}

/* Other special elements */

.placeholder_selection {
    background: #ff8989;
    border: solid #ff253a;
}

div.shopping_list_content p {
    margin: 0;
    overflow: clip;
}
