body h2 {
    background-color: #9c9c9c;
    margin: 18px 10px 10px;
    padding: 5px 5px 5px 10px;
}

body {
    background-color: #e1e1e1;
    font-family: \'Consolas\', \'Deja Vu Sans Mono\', \'Bitstream Vera Sans Mono\', monospace;
}

h2 {
    border-radius: 15px;
}

.food_plan tr {
    line-height: 24px;
}

.food_plan .header tr {
    background: #57a162;
}

.food_plan .recipes tr:nth-child(even) {
    background: #76c081;
}

.food_plan .recipes tr:nth-child(odd) {
    background: #57a162;
}

h2 table {
    width: 100%;
}

td.menu_buttons {
    padding-right: 10px;
    text-align: right;
}

td.shopping_list_item_name {
    padding-left: 10px;
}

th.list_header {
    font-size: 14pt;
    text-decoration: underline;
}

th.shopping_list_header {
    font-size: 12pt;
    text-transform: uppercase;
    color: #1e1e1e;
    padding-bottom: 5px;
    padding-top: 10px;
}

/*tr.food_plan {*/
/*    border-collapse:collapse;*/
/*}*/


.buttons {
    max-width: 0;
    position: relative;
    right: 70px;
    z-index: 1;
}

.content {
    display: flex;
}

.food_plan {
    background-color: #57a162;
    border-radius: 15px;
    border-spacing: 0;
    margin: 0 10px 10px;
    min-width: max-content;
    padding: 10px;
}

.ontop_screen {
    background-color: #FFF;
    border: solid 1px #000;
    border-radius: 10px;
    display: none;
    justify-content: center;
    left: 30%;
    padding: 10px;
    position: fixed;
    top: 15%;
    z-index: 10;
}

.shopping_list table {
    flex: 1;
}

.shopping_list {
    background-color: #ff8989;
    border-radius: 15px;
    display: flex;
    margin: 0 10px 10px 0;
    max-width: max-content;
    padding: 10px;
}

.shopping_list_location {
    font-weight: bold;
}

.shopping_list_section {
    font-style: italic;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.invisible {
    color: transparent;
}

.placeholder_selection {
    border: solid #ff253a;
    background: #ff8989;
}

.column_spacer {
    width: 10px;
}

td.spacer {
    min-width: 30px;
}

div#edit_locations {
    min-width: 100%;
    background: #e1e1e1;
    border: solid black;
    min-height: 10em;
}

div#edit_sections {
    min-width: 100%;
    background: #e1e1e1;
    border: solid black;
    min-height: 10em;
}

table#shopping_list_parameters {
    min-width: 100%;
}

table#edit_locations {
    vertical-align: top;
}

/*#shopping_list_screen {*/
/*    overflow-x: hidden;*/
/*    overflow-y: auto;*/
/*    white-space: nowrap;*/
/*}*/

#shopping_list_screen {
    color: #1e1e1e;
    overflow: hidden;
    top: 10%;
}

#shopping_list_screen td.location_header {
    font-size: 14pt;
    text-transform: uppercase;
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: center;
}

#shopping_list_screen td.section_header {
    font-size: 14pt;
    font-weight: bold;
}

#shopping_list_screen td.ingredient {
    font-size: 12pt;
    padding-left: 20px;
}

#ingredients_screen {
    top: 10%;
    max-height: 80vh;
}

/*#ingredients_screen.scroll*/
.ontop_screen div.scroll {
    max-height: 60vh;
    padding-bottom: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    white-space: nowrap;
}

#cover {
    background: #aaa;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0.80;
    position: fixed;
    right: 0;
    top: 0;
}

td.header_buttons {
    text-align: right;
    padding-right: 10px;
}

table.selection {
    padding: 5px;
    min-width: 100%;
}

button.header_button, button.menu_buttons, #calc_button {
    padding: 5px 10px;
    vertical-align: middle;
    /*text-align: right;*/
}

tbody.header, td#no_item {
    text-align: center;
}

td.show_sections {
    float: right;
}
