{% extends 'main_screen.html' %}

{% block add_recipe_screen %}
<script type="text/javascript">
    ingredients = "{{ ingredients }}"
    unit = "{{ unit }}"
</script>
<script src="{{ url_for('static', filename='add_recipe_screen.js') }}"></script>

<div id="add_recipe_screen" class="ontop_screen">
    <form method="POST" id="add_recipe_form" action="javascript:void(0)">
        <h2 id="ADD_RECIPE_screen_title">Neues Rezept</h2>
        <div id="recipe_table">
        <table>
            <tr>
                <td>Name:</td>
                <td colspan="3">
                    <input style="width: 100%" type="text" id="recipe_name" name="recipe_name" required>
                </td>
            </tr>
            <tr class="recipe_ingredient" id="recipe_ingredient_0">
                <td id="label_ingredients" style="vertical-align: top">Zutaten:</td>
                <td>
                    <input type="number" step="1.0" size=3 id="quantity_0" name="quantity_0" class="quantity" min="0.0" max="10000" required>
                </td>
                <td>
                    <select id="unit_0" name="unit_0" required>
                        <option value="{{ unit.GRAM }}">{{ unit.GRAM }}</option>
                        <option value="{{ unit.PIECE }}">{{ unit.PIECE }}</option>
                    </select>
                </td>
                <td>
                    <select id="ingredient_0" name="ingredient_0" required>
                        <option id="no_ingredient">-- Bitte Zutat auswählen --</option>
                        {% for ingredient in ingredients %}
                        <option value="{{ ingredient.name }}"
                                id="ingredient">
                            {{ ingredient.name }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <button type="button" style="visibility: hidden">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </td>
            </tr>
        </table>
        </div>
        <div id="add_ingredient_button">
        <button type="button" class="add_ingredient" onclick="add_recipe_ingredient('{{ ingredients }}')">
            <i class="fa-solid fa-plus"></i>
        </button>
        </div>
        <div id="recipe_screen_close_buttons">
            <button type="button" id="cancel_recipe" class="menu_buttons"
                    onclick="cancel_close_recipe_screen()">Abbrechen</button>
            <input type="submit" id="confirm_recipe" class="menu_buttons"
                   name="confirm_new_recipe" onclick="confirm_close_recipe_screen(edit=false)" value="OK">
        </div>
    </form>
</div>

<div id="cover"></div>

{% endblock %}

