<!DOCTYPE html>
<html>
<head>
    <title>Hotshopper</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='hotshopper.css') }}"/>
    <link rel='stylesheet' href="{{ url_for('static', filename='fontawesome/css/all.css') }}">
    <script src="{{ url_for('static', filename='hotshopper.js') }}"></script>
    <script src="{{ url_for('static', filename='sweetalert2.all.min.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</head>
<body>
{% block body %}

{% endblock %}
<hr>
<p>Copyright 2021. Arne Wohletz</p>
</body>
</html>
