<!DOCTYPE html>
<html>
<head>
    <title>Hotshopper</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='hotshopper.css') }}"/>
    <link rel='stylesheet' href="{{ url_for('static', filename='fontawesome-free-6.6.0-web/css/all.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='hotshopper.ico') }}">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% block scripts %}
    {% endblock %}
</head>
<body>
<div id="base">
    {% block main_screen %}
    {% endblock %}

    {% block shopping_lists_print_preview %}
    {% endblock %}
    <div id="footer">
        <hr id="copyright_ruler">
        <p id="copyright">Copyright 2021-2024. Arne Wohletz</p>
    </div>
</div>
</body>
</html>
