{% extends 'base.html' %}

{% block body %}

<script type="text/javascript">
    recipes = "{{ recipes }}"
</script>
<div class="foodplan">
    <h2>Foodplan</h2>
    <form method="POST" action="/get_shopping_list">
    <table id="foodplan_table">
        <tr>
            <input type="submit" value="Berechne" id="calc_button">
        </tr>
        <tr>
            <th colspan="4">Essensplan</th>
        </tr>
        <tr>
            <td colspan="3">Woche</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <table id="recipe_selection">
        {% for recipe in recipes %}
            <tr>
<!--                <td>-->
<!--                    <input type="checkbox" id="{{recipe.__class__.__name__}}_1" onchange="set_selected(this)">-->
<!--                </td>-->
<!--                <td>-->
<!--                    <input type="checkbox" id="{{recipe.__class__.__name__}}_2" onchange="set_selected(this)">-->
<!--                </td>-->
<!--                <td>-->
<!--                    <input type="checkbox" id="{{recipe.__class__.__name__}}_3" onchange="set_selected(this)">-->
<!--                </td>-->
                <td>
                    <input type="checkbox" id="{{recipe.__class__.__name__}}_1" onchange="set_selected(this)">
                </td>
                <td>
                    <input type="checkbox" id="{{recipe.__class__.__name__}}_2">
                </td>
                <td>
                    <input type="checkbox" id="{{recipe.__class__.__name__}}_3">
                </td>
                <td>{{recipe.name}}</td>
            </tr>
        {% endfor %}
        </table>
    </table>
    <table id="shopping_list_table">
        <tr>
            <th colspan="2">Einkaufsliste</th>
        </tr>
    </table>

</div>


{% endblock %}
