{% extends 'base.html' %}

{% block body %}

<script type="text/javascript">
    recipes = "{{ recipes }}"
    scroll_height = "{{ scroll_height }}"
</script>
<h2>Hotshopper</h2>
<div class="content">
    <form method="POST" action="/show_shopping_list">
        <table class="food_plan">
            <tr>
                <th colspan="4">Essensplan</th>
                <th class="buttons">
                    <input type="submit" value="Berechne" id="calc_button">
                </th>
            </tr>
            <tbody class="header">
            <tr>
                <td colspan="3">Woche</td>
                <td rowspan="2">
                </td>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            </tbody>
            {% for recipe in recipes %}
            <tr><td>{{ clever_function }}</td></tr>
            <tr>
                <td>
                    {% if recipe.selected == True and 1 in recipe.weeks %}
                    <input type="checkbox"
                           id="{{recipe.__class__.__name__}}_1"
                           onchange="set_selected(this)" checked>
                    {% else %}
                    <input type="checkbox"
                           id="{{recipe.__class__.__name__}}_1"
                           onchange="set_selected(this)">
                    {% endif %}
                </td>
                <td>
                    {% if recipe.selected == True and 2 in recipe.weeks %}
                    <input type="checkbox"
                           id="{{recipe.__class__.__name__}}_2"
                           onchange="set_selected(this)" checked>
                    {% else %}
                    <input type="checkbox"
                           id="{{recipe.__class__.__name__}}_2"
                           onchange="set_selected(this)">
                    {% endif %}
                </td>
                <td>
                    {% if recipe.selected == True and 3 in recipe.weeks %}
                    <input type="checkbox"
                           id="{{recipe.__class__.__name__}}_3"
                           onchange="set_selected(this)" checked>
                    {% else %}
                    <input type="checkbox"
                           id="{{recipe.__class__.__name__}}_3"
                           onchange="set_selected(this)">
                    {% endif %}
                </td>
                <td>{{recipe.name}}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
    {% if food_plan %}
    <table class="shopping_list">
        <tr>
            <th colspan="2">Einkaufsliste</th>
        </tr>
        {% for list in food_plan.get_shopping_lists() %}
        <th colspan="2" class="shopping_list_header">
            {{ list.name }}
        </th>
        {% if list|length < 1 %}
        <tr>
            <td id="no_item" colspan="2">---</td>
        </tr>
        {% endif %}
        {% for item in list %}
        <tr>
            <td class="amount">
                {% if item.amount_gram %}
                {{ item.get_amount_gram() }} g
                    {% if item.amount_piece %}
                     +<br>
                    {% endif %}
                {% endif %}
                {% if item.amount_piece %}
                    {{ item.get_amount_piece() }} St.
                {% endif %}
            </td>
            <td class="shopping_list_item_name">
                {{ item.name }}
            </td>
        </tr>
        {% endfor %}
        {% endfor %}
        </td>
    </table>
    {% endif %}
    <!--</div>-->
</div>

{% endblock %}
