{% extends 'base.html' %}

{% block main_screen %}
<script src="{{ url_for('static', filename='hotshopper.js') }}"></script>
<script type="text/javascript">
    recipes = "{{ recipes }}"
    scroll_height = "{{ scroll_height }}"
    ingredients = "{{ ingredients }}"
    db_session = "{{ db_session }}"
</script>
<div id="main_screen">
    <h2 class="header">
        <div class="text">Hotshopper</div>
        <div class="buttons">
            <button type="button" id="show_ingredients_screen"
                    class="header_button"
                    onclick="show_ingredients_screen()">Zutaten ...
            </button>
            <button type="button" id="show_shopping_list_screen"
                    class="header_button"
                    onclick="show_shopping_list_screen()">Einkaufsliste ...
            </button>
        </div>
    </h2>
    <div class="content">
        <form method="POST" action="/show_shopping_list">
        <div class="food_plan">
            <div class="title">
                <h3>Essensplan</h3>
            </div>
            <div class="header">
                <div class="recipe_elements">
                    <input class="menu_buttons" type="search" id="recipesFilter" onkeyup="filter_recipes()" placeholder="Finde Rezept ...">
                    <button class="menu_buttons" type="reset" id="recipesFilterResetButton" value="X">
                        <i class="fa-solid fa-delete-left"></i>
                    </button>
                    <button type="button" class="menu_buttons" id="showAddRecipeScreen"
                        onclick="show_add_recipe_screen()"> Neues Rezept ...
                    </button>
                </div>
                <div class="control_buttons">
                    <button class="menu_buttons" type="button"
                            id="cleanRecipeSectionButton"
                            onclick="reset_recipe_selection()">
                        <i class="fa-solid fa-rotate-left"></i>
                    </button>
                    <input type="submit" value="Berechne" id="calc_button">
                </div>
            </div>
            <table class="recipesTable">
                <thead>
                    <tr class="week_header">
                        <th colspan="3">
                            Woche
                        </th>
                        <th></th>
                    </tr>
                    <tr class="week_header">
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="recipesTableBody">
                    <tr id="placeholder" style="visibility: hidden">
                        <td class="checkbox"></td>
                        <td class="checkbox"></td>
                        <td class="checkbox"></td>
                        <td></td>
                    </tr>
                    {% for recipe in recipes %}
                    <tr class="recipe_selection">
                        <td class="checkbox">
                            {% if recipe.selected == True and 1 in recipe.weeks %}
                            <input type="checkbox"
                                   id="{{recipe.id}}_1"
                                   onchange="set_selected(this)" checked>
                            {% else %}
                            <input type="checkbox"
                                   id="{{recipe.id}}_1"
                                   onchange="set_selected(this)">
                            {% endif %}
                        </td>
                        <td class="checkbox">
                            {% if recipe.selected == True and 2 in recipe.weeks %}
                            <input type="checkbox"
                                   id="{{recipe.id}}_2"
                                   onchange="set_selected(this)" checked>
                            {% else %}
                                <input type="checkbox"
                                       id="{{recipe.id}}_2"
                                       onchange="set_selected(this)">
                            {% endif %}
                        </td>
                        <td class="checkbox">
                            {% if recipe.selected == True and 3 in recipe.weeks %}
                            <input type="checkbox"
                                   id="{{recipe.id}}_3"
                                   onchange="set_selected(this)" checked>
                            {% else %}
                            <input type="checkbox"
                                   id="{{recipe.id}}_3"
                                   onchange="set_selected(this)">
                            {% endif %}
                        </td>
                        <td class="recipe_name">
                            {{recipe.name}}
                            <button type="button" id="edit_recipe/{{recipe.id}}"
                                    onclick="edit_recipe(this)">
                                <i class=" fa-solid fa-pen-to-square"></i>
                            </button>
                            <button type="button" id="delete_recipe/{{recipe.id}}"
                                    name="{{ recipe.name }}"
                                    onclick="delete_recipe(this)">
                                <i class=" fa-solid fa-trash-can"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        </form>
        {% if food_plan %}
        <form method="POST" action="/shopping_lists_print_preview">
            <div class="all_shopping_lists">
                <div class="title">
                    <div class="text">
                        <h3>Einkaufslisten</h3>
                    </div>
                </div>
                <div class="header">
                    <div class="control_buttons">
                        <input type="submit" class="submit_button" value="Druckvorschau">
                    </div>
                </div>
                <table class="all_shopping_lists_table">
                    {% for list in food_plan.get_shopping_lists() %}
                        <tr>
                            <td>
                            <table class="shopping_list">
                                <tr>
                                    <th colspan="2" class="shopping_list_header"> {{ "="*((32 - list.name|length) / 2)|round|int }} {{ list.name }} {{ "="*((32 - list.name|length) / 2)|round|int }}</th>
                                </tr>
                                {% for location in list.locations %}
                                <tr>
                                    <td colspan="2">
                                    <table class="shopping_list_location">
                                        <tr>
                                            <th class="shopping_list_location_name" colspan="2">{{ location.name }}</th>
                                        </tr>
                                        {% for section in location.sections %}
                                        <tr>
                                            <td>
                                            <table class="shopping_list_section">
                                                {% if section.name == "NONE" %}
                                                {% else %}
                                                <tr>
                                                    <th class="shopping_list_section_name" colspan="2">{{ section.name }}</th>
                                                </tr>
                                                {% endif %}
                                                {% for ingredient in section.ingredients %}
                                                {% if ingredient.shopping_list_items[list.weeks[0].number - 1] %}
                                                <tr class="shopping_list_item">
                                                    <td class="fld_amount">{{ ingredient.shopping_list_items[list.weeks[0].number - 1].print_amounts() }}</td>
                                                    <td class="fld_ingredient_name">{{ ingredient.name }}</td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </table>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    </td>
                                </tr>
                            {% endfor %}
                            </table>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </form>


        {% endif %}
        </div>
    </div>
</div>

<script>
    // Maintain initial width of food_plan table
    const food_plan = document.querySelector('.food_plan');
    food_plan.style.width = `${food_plan.scrollWidth}px`;
</script>

<div id="cover"></div>

{% block add_recipe_screen %}
{% endblock %}

{% block edit_recipe_screen %}
{% endblock %}

{% block ingredients_screen %}
{% endblock %}

{% block shopping_list_screen %}
{% endblock %}

{% endblock %}
