{% extends 'base.html' %}

{% block body %}
<script type="text/javascript">
    food_plan = "{{ food_plan }}"
</script>
<script src="{{ url_for('static', filename='print_shopping_list.js') }}"></script>
<div id="shopping_lists">
{% for shopping_list in food_plan.shopping_lists %}
{% if loop.index0 < 3 %}
<table id="{{ shopping_list.name }}"
       style="outline: solid 1pt; width: 65mm; height: 145mm;
       position: relative; top: 0mm; left: 0mm; display: inline-block">
{% elif 3 <= loop.index0 <= 5 %}
<table id="{{ shopping_list.name }}"
       style="outline: solid 1pt; width: 65mm; height: 145mm;
       position: relative; top: 0mm; left: 0mm; display: inline-block">
{% else %}
<table>
    <tr>Liste ist voll!</tr>
{% endif %}
    <th colspan="2" style="vertical-align: top; text-align: center;
    font-size: 12pt; text-decoration-line: underline; text-decoration-thickness: 3px">
    {{ shopping_list.name }}
    </th>
    {% for week_index in shopping_list.weeks %}
    {% for location in shopping_list.locations %}
    {% if location.has_shopping_list_items(week_index - 1) %}
    <tr style="font-size: 14pt; font-weight: bold; font-size: 12pt">
        <td colspan="2">{{ location.name }}</td>
    </tr>

    {% for section in location.sections %}
    {% if section.has_shopping_list_items(week_index - 1) %}
    {% if section.name != "NONE" %}
    <tr style="font-style: italic; font-variant-caps: small-caps;">
        <td colspan="2">{{ section.name }}</td>
    </tr>
    {% endif %}
    {% for ingredient in section.ingredients %}
    {% if ingredient.shopping_list_item[week_index - 1] %}
    <tr style="font-size: 9pt">
        <td>{{ ingredient.shopping_list_item[week_index - 1].print_amounts() }}</td>
        <td>{{ ingredient.name }}</td>
    </tr>
    {% elif ingredient.always_on_list %}
    <tr>
        <td>___</td>
        <td>{{ ingredient.name }}</td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% endfor %}
</table>
</table>
</table>
{% endfor %}
</div>

{% endblock %}
